@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
  --mulish: 'Mulish', sans-serif;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: #f9f9f9;
  min-width: 100vw;
}

/* Navbar */
#navbar {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  min-height: 80px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}


.nav-link {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

/* Landing Page */
section#landing-page {
  padding: 0 7%;
  position: relative;
  z-index: 1;
}

#landing-page * {
  font-family: var(--poppins);
}


#landing-page>div:first-child {
  display: flex;
  justify-content: center;
  padding-top: 27vh;
  flex-direction: column;
}


#typer {
  font-weight: 700;
  margin-left: 1rem;
}

#landing-page h1 {
  font-weight: 400;
  font-size: 48px;
}

#landing-page div:nth-child(2) h3 {
  font-weight: bold;
  font-family: var(--mulish);
  position: relative;
  height: 5%;
  margin-bottom: 20px
}

#landing-page div:nth-child(2) h3::after {
  content: "";
  background: black;
  height: 3px;
  width: 90%;
  position: absolute;
  bottom: -5px;
  left: 5%;
}

#landing-page>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10vh;
}

div.skills-logos {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.skills-logos img {
  height: 70px;
  margin: 0 2%;
  width: auto;
}

#scroll-down {
  height: 60px;
  width: 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  object-fit: cover;
  border-radius: 15px;
}

/* Utilities */

section {
  min-height: 100vh;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}